<footer class="container" data-aos="fade-up">
  <div class="logo-footer" data-min-height="5.1rem" data-max-height="5.1rem">
    <!--##LOGOTIPO##-->
  </div>
  <div data-wsjs-container>
    <h3>SUPORTE</h3>
    <span class="list-footer" data-wsjs-infos="institutional"></span>
  </div>
  <div data-wsjs-container>
    <h3>PRODUTO</h3>
    <span class="list-footer" data-wsjs-infos-v2="institutional"></span>
  </div>
  <div class="container newsletter-holder-ws">
    <h3>NEWSLETTER</h3>
    <p>Saiba das novidades, lançamentos e ofertas, cadastre-se!</p>
    <form id="newsletter" data-wsjs-newsletter="container">
      <div class="input-container">
        <input id="newsName" type="text" placeholder="Digite seu nome" minlength="3" maxlength="50" required="">
        <label for="newsName">Digite seu nome</label>
      </div>
      <div class="input-container">
        <input id="newsMail" type="email" placeholder="Digite seu e-mail" maxlength="50" required="">
        <label for="newsMail">Digite seu e-mail</label>
      </div>
      <div class="newsletter-message">Esta é uma mensagem</div>
      <button class="button-third" type="submit">Cadastrar</button>
    </form>
  </div>
</footer>