<div data-wsjs-indexcontainer="">

  <!--###TOPO###-->

  <div data-wsjs-loader="" style="display: none;">
    <div data-wsjs-draginner="">

      <span data-wsjs-banner="9"></span>

      <section data-wsjs-sectype="condicoes" data-wsjs-sectitle="Condições" data-wsjs-id="condicoes-0"
        data-wsjs-clsid="condicoes-0">
        <div class="container"><span data-wsjs-module="condition"></span></div>
      </section>
      <section class="banner-topo-section" data-wsjs-sectype="banners" data-wsjs-sectitle="Banner: Topo"
        data-wsjs-id="banners-1" data-wsjs-clsid="banners-1">
        <div class="container"><span data-wsjs-banner="topo" data-wsjs-slide=""></span></div>
      </section>
      <section class="banner-tarja-section" data-wsjs-sectype="banners" data-wsjs-sectitle="Banner: Tarja"
        data-wsjs-id="banners-2" data-wsjs-container="true">
        <div class="container"><span data-wsjs-banner="tarja" data-wsjs-slide=""></span></div>
      </section>
      <section class="banner-mini-section" data-wsjs-sectype="banners" data-wsjs-sectitle="Banner: Mini"
        data-wsjs-id="banners-3" data-wsjs-container="true">
        <div class="container"><span data-wsjs-banner="mini" data-wsjs-slide="slides.perView:4;slides.min:4;"></span>
        </div>
      </section>
      <section data-wsjs-sectype="prodSlide" data-wsjs-sectitle="Carrossel de produtos" data-wsjs-id="prodSlide-0"
        data-wsjs-clsid="prodSlide-0">
        <div class="container"><span data-wsjs-prod-list="group"
            data-wsjs-options="container:true;imageSize:MED;button:true;photoSwap:opacity;imgAttr:237x227.1818181818182;"
            data-wsjs-slide="needOffset: false; slides.spacing: 0; arrowsType: group;"></span></div>
      </section>
      <section data-wsjs-sectype="prodList" data-wsjs-sectitle="Listagem de produtos" data-wsjs-id="prodList-0"
        data-wsjs-clsid="prodList-0">
        <div class="container">
          <span data-wsjs-prod-list="home"
            data-wsjs-options="container:false;imageSize:MED;button:true;photoSwap:opacity;imgAttr:233x212.9;">Ofertas
            especiais</span><template data-wsjs-prod-list-template="home">Listamos os melhores produtos com ofertas
            especiais</template>
        </div>
      </section>
      <section class="banner-rodape-section" data-wsjs-sectype="banners" data-wsjs-sectitle="Banner: Rodapé"
        data-wsjs-id="banners-4" data-wsjs-container="true">
        <div class="container"><span data-wsjs-banner="rodape" data-wsjs-slide=""></span></div>
      </section>
    </div>

    <!--###RODAPE###-->
    <!--###COMPLEMENTO###-->

    <div data-wsjs-module="prod-template" class="hidden">
      <!--##WS-PROD-TEMPLATE2.0##-->
    </div>

  </div>

</div>

<!--##[LOJA]DRAG-DROP-BASE##-->