<div data-wsjs-indexcontainer="">

  <!--###TOPO###-->

  <div data-wsjs-loader="" style="display: none;">
    <div data-wsjs-draginner="">

      <span data-wsjs-banner="9"></span>



      <section data-wsjs-sectype="image" data-wsjs-sectitle="Texto" data-wsjs-id="image-0" style="" data-wsjs-clsid="image-0">
        <div class="image-content paralax-image">
          <div class="image-load"><a><img src="https://imageswscdn.wslojas.com.br/files/26685/img_add_26685_60703.jpg" width="1905" height="1272"></a></div>
        <div class="image-label" data-wsjs-editadvancedsec="image">
      <div>Clique para carregar</div>
    </div></div>

        <div class="image-holder-ws">
          <div class="text-content"><br>            <h2 contenteditable="false">FRETE GRÁTIS</h2><br>            <p contenteditable="false">15% OFF PRIMEIRA COMPRA 2025</p><br>          </div>
          <div>
            <a contenteditable="false" href="" class="btn" button_style="angled">
              Saiba Mais
            </a>
          </div>
        </div>
      </section>
    </div>

    <!--###RODAPE###-->
    <!--###COMPLEMENTO###-->

    <div data-wsjs-module="prod-template" class="hidden">
      <!--##WS-PROD-TEMPLATE2.0##-->
    </div>

  </div>

</div>

<!--##[LOJA]DRAG-DROP-BASE##-->