header .header-top>.container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  position: relative;
}
header:not(.float-active) .header-top {
  background-color: transparent;
}
header .header-top {
  transition: background-color 0.5s ease-out;
}
header .header-top>.container>.content-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#BodyPage.homepage {
  line-height: 0 !important;
  font-size: 0 !important;
  color: transparent !important;
}
#BodyPage.homepage #DivResponse {
  font-size: 1.4rem;
  font-family: var(--bodyFont), Arial, sans-serif;
  line-height: 2.4rem;
  color: var(--bodyColor);
}
.container {
  max-width: 1500px;
}
[data-wsjs-indexcontainer] {
  padding-top: 0 !important;
}
[data-poster-url] video,
[data-poster-url] {
  width: 100%;
}
[data-poster-url] {
  line-height: 0;
}
.btn {
  background-color: var(--bg-button-buyNow);
  color: var(--color-button-buyNow);
  -webkit-appearance: none;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
  width: auto;
  font-weight: 700;
  letter-spacing: .3em;
  line-height: 1.42;
  margin: 0;
  min-width: 90px;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}
[button_style=angled] {
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: flex;
}
[button_style=angled]:before,
[button_style=angled]::after {
  content: "";
  left: -6px;
  background-color: inherit;
  bottom: 0;
  display: block;
  position: absolute;
  top: 0;
  transform: skew(-12deg);
  width: 20px;
}
[button_style=angled]::after {
  left: auto;
  right: -6px;
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] {
  padding: 1.6rem 2rem;
  height: auto;
  min-height: auto;
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] .image-content {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
  transform: translateY(-1.6rem);
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] .image-content img {
  width: 100%;
  height: auto;
  position: absolute;
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] .image-content {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
  transform: translateY(-1.6rem);
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] .image-holder-ws {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] .image-holder-ws>div {
  width: 33%;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] .text-content p {
  line-height: 1.3;
  padding-bottom: 15px;
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] .text-content br {
  display: none;
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] .text-content h2 {
  line-height: 1.2;
}
[id="banner-9"] a {
  width: 100%;
}
footer {
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  gap: 15%;
  flex-direction: row;
  align-items: start;
}
footer .newsletter-holder-ws {
  flex-direction: column;
}
footer .logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
@media screen and (min-width:1200px) {
  footer {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
  }
}
@media screen and (min-width:769px) {
  footer {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
  }
}
/*CSS WS ADD*/
[data-wsjs-draginner] [data-wsjs-id="image-0"] .text-content h2 {
  font-size: 47px;
  font-weight: normal;
  font-family: Oswald;
  color: #ffffffff;
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] .text-content p {
  font-size: 18px;
  font-weight: 600;
  font-family: Oswald;
  font-style: normal;
  color: #ffffffff;
  padding-left: 5px;
}
[data-wsjs-draginner] [data-wsjs-id="image-0"] {
  background: #ffe5e500;
}
[data-wsjs-draginner] [data-wsjs-id="prodSlide-0"] .prod-list-titles h2 {
  color: #ffffffff;
}
 