<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link id="oswald" data-wsjs-linkfont="true"
    href="https://fonts.googleapis.com/css2?family=Oswald:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;display=swap"
    rel="stylesheet">
<link id="montserrat" data-wsjs-linkfont="true"
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap"
    rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/conduit-itc-medium" rel="stylesheet">