<style data-wsjs-clstag="true" type="text/css">@media screen and (min-width: 900px) { [data-wsjs-draginner] [data-wsjs-clsid=condicoes-0] {
            min-height: 205px;
          }[data-wsjs-draginner] [data-wsjs-clsid=banners-1] {
            min-height: 372px;
          }[data-wsjs-draginner] [data-wsjs-clsid=prodSlide-0] {
            min-height: 2163px;
          }[data-wsjs-draginner] [data-wsjs-clsid=prodList-0] {
            min-height: 1926px;
          } }</style><style data-wsjs-initialcss="true" type="text/css">body, input, button, select, textarea {
      font-size: 1.4rem;
      line-height: 2.4rem;
    }
    body {
      opacity: 0;
      margin: 0;
    }
    </style>